@page "/form-endereco"
@using ECommerce.Components
@using ECommerce.Models

<div class="flex justify-center items-center min-h-screen bg-linear-to-t from-blue-500 to-blue-300">
    <!-- Background !-->
    <div class="bg-white p-6 rounded-lg shadow-lg w-96"> <!-- Card !-->
        <h1 class="text-2xl font-bold mb-4 text-center text-blue-500">
            Endereço</h1>

        <EditForm Model="@endereco" OnValidSubmit="@SalvarEndereco">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="space-y-4">
                <InputGroup Label="CEP" Value="@endereco.CEP" />
                <InputGroup Label="Rua" Value="@endereco.Rua" />
                <InputGroup Label="Número" Value="@endereco.Numero" />
                <InputGroup Label="Complemento" Value="@endereco.Complemento" />
                <InputGroup Label="Cidade" Value="@endereco.Cidade" />
                <InputGroup Label="Estado" Value="@endereco.Estado" />
            </div>

            <button type="submit"
                class="cursor-pointer mt-4 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 border border-blue-600 w-full">
                Salvar
            </button>
        </EditForm>
    </div>
</div>

@code {
    private Endereco endereco = new Endereco();

    private void SalvarEndereco()
    {
    }
}
